{% extends 'base.html.twig' %}

{% block body %}
    <h2>Vous êtes sur la page d'accueil</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam consequuntur debitis delectus deserunt, doloremque dolores doloribus eligendi fuga in libero modi necessitatibus nobis porro quasi qui quibusdam quis recusandae reiciendis repellendus sit, sunt totam veniam? Assumenda cupiditate illo modi sequi sunt. Consequuntur culpa, dignissimos dolorem facilis, fugiat harum hic illum iure laboriosam nisi porro, qui repudiandae sapiente sit totam.</p>


{% endblock %}

{% block title %}
    My Bucket-List
{% endblock %}