{% extends 'base.html.twig' %}

{% block title %}
    Idées
{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab, architecto corporis dicta dolores eius error facilis,
        illo impedit, necessitatibus optio provident ratione ut voluptatem?
        Commodi itaque mollitia quasi reiciendis sapiente.</p>
{% endblock %}

