{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ce qu'il vous reste à faire : </h1>
    <ol>
        <li>Aller à Los Angeles</li>
        <li>Faire du saut en parachute</li>
        <li>Aller en Louisiane</li>
        <li>Visiter Moscou</li>
        <li>Visiter Saint-Petersbourg</li>
    </ol>

    <button>Ajouter une réalisation</button>
{% endblock %}

{% block title %}
Liste
{% endblock %}

