<nav>
    <ul>
        <li><a href="{{path('main_home')}}" title="home">Accueil</a></li>
        <li><a href="{{ path('main_idea') }}" title="idea">Idées</a></li>
        <li><a href="{{ path('wish_list') }}" title="list">Liste</a></li>
        <li><a href="{{ path('main_about') }}" title="about us">A propos</a></li>
    </ul>
</nav>